if TARGET_MELLANOX_AST2500BMC

config SYS_CPU
	default "arm1176"

config SYS_BOARD
	default "mlnxast2500bmc"

config SYS_VENDOR
	default "mellanox"

config SYS_SOC
	default "aspeed"

config SYS_CONFIG_NAME
	default "mlnxast2500bmc"

config FIRMWARE_2ND_BOOT
	bool "Firmware second boot WD2 enable."
endif
