CONFIG_ARM=y
CONFIG_TARGET_MELLANOX_AST2500BMC=y
CONFIG_LOCALVERSION="Mellanox AST2500 BMC"
CONFIG_ASPEED_NET_PHY=y
CONFIG_SPI_FLASH=y
CONFIG_SYS_NS16550=y
CONFIG_CMD_FPGA=y
CONFIG_CMD_SAVEENV=y
CONFIG_CMD_FLASH=y
CONFIG_CMD_PING=y
CONFIG_CMD_DHCP=y
CONFIG_HUSH_PARSER=y
CONFIG_FIT=y
CONFIG_FIT_VERBOSE=y
CONFIG_NETDEVICES=y
CONFIG_OF_LIBFDT=y
CONFIG_CMD_GREPENV=y
CONFIG_CMD_MEMINFO=y
CONFIG_CMD_MII=y
CONFIG_CMD_EXT2=y
CONFIG_CMD_FAT=y
# CONFIG_EXPERT is not set
# CONFIG_SYS_MALLOC_CLEAR_ON_INIT is not set
# CONFIG_EFI_LOADER is not set
# CONFIG_CMD_GO is not set
# CONFIG_CMD_RUN is not set
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_XIMG is not set
